@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

.imc-text {
  display: inline-block;
  padding-left: 40px;
  
}

.imc-text p {
  margin: 5px;
}

.resultado-text {
  display: inline-block;
  padding-left: 50px;  
}

.resultado-text p {
  margin: 5px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

li {
  list-style-type: none;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 3vh;
}
.container > *{
  margin: auto;
  text-align: center;
}

button {
  display: inline-block;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.calculadora {
  width: 80%;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.display::placeholder {
  text-align: right;
  font-style: italic;
  font-size: 0.5em;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #dfdfdd;
  cursor: pointer;
}

/*efeito hover serve quanto vc passar o mouse em cima mudar o qeu selecionou */
.btn:hover {   
background: #9e9e9e;
}

.btn-eq {
  background: royalblue;
}

.btn-eq:hover {
  background: rgb(16, 52, 158);
}